@model FormModel
<div class="mb-3 mt-3">
    <label asp-for="PartialTwo" class="form-label"></label>
    <input type="text" class="form-control" asp-for="PartialTwo" required>
    <span asp-validation-for="PartialTwo" class="text-danger"></span>
</div>